<div style="font-size:12px;">

  <table id="mainStructure" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ecebeb;">
   <!--START VIEW ONLINE AND ICON SOCAIL -->
   <tr>
    <td align="center" valign="top" style="background-color: #4ab59c; ">
      
      <!-- start container 600 -->
      <table width="686px" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #4ab59c; ">
        <tr>
          <td valign="top">

            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: #4ab59c; ">
              <!-- start space -->
              <tr>
                <td valign="top" height="10">
                </td>
              </tr>
              <!-- end space -->
              <tr>
                <td valign="top">
                  
                  <!-- start container -->
                  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">

                    <tr>
                      <td valign="top">
                        
                        <!-- start view online -->
                        <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                         <tr>
                          <td>
                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="font-size: 12px; line-height: 27px; font-family:Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:300; text-align:center;">
                                  <span style="text-decoration: none; color: #ffffff;"><a href="#" style="text-decoration: none; color: #ffffff;">&nbsp;</a></span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- start space -->
                        <tr>
                          <td valign="top" class="increase-Height">
                          </td>
                        </tr>
                        <!-- end space -->
                      </table>
                      <!-- end view online -->

                    </td>
                  </tr>
                </table>
                <!-- end container  -->
              </td>
            </tr>

            <!-- start space -->
            <tr>
              <td valign="top" height="10">
              </td>
            </tr>
            <!-- end space -->

            <!-- start space -->
            <tr>
              <td valign="top" class="increase-Height">
              </td>
            </tr>
            <!-- end space -->

          </table>
          <!-- end container 600-->
        </td>
      </tr>
    </table>

  </td>
</tr>
<!--END VIEW ONLINE AND ICON SOCAIL-->

<!--START TOP NAVIGATION ​LAYOUT-->
<tr>
  <td valign="top">
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">


      <!-- START CONTAINER NAVIGATION -->
      <tr>
        <td align="center" valign="top">
          
          <!-- start top navigation container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
            
            <tr>
              <td valign="top">
                

                <!-- start top navigaton -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                  <tr>
                    <td valign="middle">
                      
                      <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">

                        <!-- start space -->
                        <tr>
                          <td valign="top" class="increase-Height-20">

                          </td>
                        </tr>
                        <!-- end space -->

                      </table>

                      <!--start content nav -->
                      <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">

                      </table>
                      <!--end content nav -->

                    </td>
                  </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                </table>
                <!-- end top navigaton -->
              </td>
            </tr>
          </table>
          <!-- end top navigation container -->

        </td>
      </tr>
      

      <!-- END CONTAINER NAVIGATION -->
      
    </table>
  </td>
</tr>
<!--END TOP NAVIGATION ​LAYOUT-->




<!-- START HEIGHT SPACE 20PX LAYOUT-1 -->
<tr>
 <td valign="top" align="center" class="fix-box">
   <table width="600" height="20" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;" class="full-width">
    <tr>
      <td valign="top" height="20">  
      </td>
    </tr>
  </table>
</td>
</tr>
<!-- END HEIGHT SPACE 20PX LAYOUT-1-->




<!-- START LAYOUT-1/1 --> 

<tr>
 <td align="center" valign="top" class="fix-box">

   <!-- start  container width 600px --> 
   <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">


     <tr>
       <td valign="top">

         <!-- start container width 560px --> 
         <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">


           <!-- start text content --> 
           <tr>
             <td valign="top">
               <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                 <tr>
                   <td valign="top" width="auto" align="center">
                     <!-- start button -->                         
                     <table border="0" align="center" cellpadding="0" cellspacing="0">
                       <tr>
                         <td width="auto" align="center" valign="middle" height="28" style=" background-color:#ffffff; border:1px solid #ececed; background-clip: padding-box; font-size:18px; font-family:Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif; text-align:center;  color:#a3a2a2; font-weight: 300; padding-left:18px; padding-right:18px; ">

                           <span style="color: #a3a2a2; font-weight: 300;">
                             <a href="#" style="text-decoration: none; color:#a3a2a2; font-weight: 300;">
                               TURING <span style="color: #4ab59c; font-weight: 300;">WELCOME</span>
                             </a>
                           </span>
                         </td>
                       </tr>
                     </table>
                     <!-- end button -->   
                   </td>
                 </tr>



               </table>
             </td>
           </tr>
           <!-- end text content --> 


         </table>
         <!-- end  container width 560px --> 
       </td>
     </tr>
   </table>
   <!-- end  container width 600px --> 
 </td>
</tr>

<!-- END LAYOUT-1/1 --> 





<!-- START LAYOUT-1/2 --> 

<tr>
 <td align="center" valign="top" class="fix-box">

   <!-- start  container width 600px --> 
   <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; ">


     <tr>
       <td valign="top">

         <!-- start container width 560px --> 
         <table width="540" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">


           <!-- start text content --> 
           <tr>
             <td valign="top">
               <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                 

                 <!-- start text content --> 
                 <tr>
                   <td valign="top">
                     <table border="0" cellspacing="0" cellpadding="0" align="center">
                       

                       <!--start space height --> 
                       <tr>
                         <td height="15"></td>
                       </tr>
                       <!--end space height --> 

                       <tr>
                         <td style="font-size: 13px; line-height: 22px; font-family:Roboto,Open Sans,Arial,Tahoma, Helvetica, sans-serif; color:#a3a2a2; font-weight:300; text-align:center; ">

                          <p>Welcome, to the Turing email client!</p>

                          <p style="text-align: left;">The Turing email client has been designed to enhance your email experience and provide a product that helps you manage the growing demands of modern email communication.</p>

                          <p style="text-align: left;">Our client is packed with features to help you do what you want and need to do. Here are some of the features you can enjoy using the Turing email client:</p>

                          <ul style="text-align: left;">
                            <li>An <strong>inbox cleaner</strong> that files away unimportant emails from your inbox.</li>
                            <li><strong>List subscriptions management</strong> through which you can view all lists you are subscribed to and unsubscribe from them.</li>
                            <li><strong>Email tracking</strong> that works on a per recipient basis.</li>
                            <li><strong>Email snooze</strong> to archive an email and then return it to the inbox after a set period of time.</li>
                            <li><strong>Schedule email send</strong> for a specific time in the future.</li>
                            <li>Various <strong>analytics reports</strong> for understanding your email. These reports cover attachments, email volume, email folders, lists, threads and top contacts.</li>
                            <li>A <strong>morning email report</strong> highlighting important emails that haven’t been replied to and some other categories of email.</li>
                            <li><strong>Inbox pause</strong> to prevent new emails from being loaded for a while.</li>
                            <li>An <strong>email context side panel</strong> that shows social data and email statistics relevant to the person you’re emailing.</li>
                            <li><strong>Bounceback reminders</strong> for emails that haven’t been replied to within a specific time.</li>
                            <li><strong>Quick replies</strong> so that you can fire off a preset short response to someone.</li>
                            <li><strong>Email rules and inbox cleaning rules</strong> for configuring email filtering and inbox cleaning respectively.</li>
                            <li><strong>Quick compose options &amp; email templates</strong> for more quickly composing emails.</li>
                            <li><strong>An email bankruptcy button</strong> to totally delete everything in your inbox.</li>
                          </ul>

                          <p style="text-align: left;">Thank you for signing up for the Turing email client. We will send you an email once your account has been prepared!</p>

                        </td>
                      </tr>

                      <!--start space height --> 
                      <tr>
                       <td height="15"></td>
                     </tr>
                     <!--end space height --> 

                   </table>
                 </td>
               </tr>
               <!-- end text content -->

             </table>
           </td>
         </tr>
         <!-- end text content --> 

         <!--start space height --> 
         <tr>
           <td height="20"></td>
         </tr>
         <!--end space height --> 


       </table>
       <!-- end  container width 560px --> 
     </td>
   </tr>
 </table>
 <!-- end  container width 600px --> 
</td>
</tr>

<!-- END LAYOUT-1/2 --> 

<!-- START LAYOUT-16 --> 

<tr>
  <td align="center" valign="top" class="fix-box">

    <!-- start  container width 600px --> 
    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; border-bottom:1px solid #c7c7c7;">

     <!--start space height -->                      
     <tr>
      <td height="10"></td>
    </tr>
    <!--end space height --> 

    <tr>
      <td valign="top">
      </td>
    </tr>

    <!--start space height -->                      
    <tr>
      <td height="10"></td>
    </tr>
    <!--end space height --> 

  </table>

</td>
</tr>
<!-- END LAYOUT-16-->  


<!--START FOOTER LAYOUT-->
<tr>
  <td valign="top">
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">


      <!-- START CONTAINER  -->
      <tr>
        <td align="center" valign="top">
          
          <!-- start footer container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
            
            <tr>
              <td valign="top">
                

                <!-- start footer -->
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                  <tr>
                    <td valign="middle">
                      
                      <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                       
                        <!-- start space -->
                        <tr>
                          <td valign="top" class="increase-Height-20">
                          </td>
                        </tr>
                        <!-- end space -->

                      </table>

                      <!--start content nav -->
                      <table border="0" align="right" cellpadding="0" cellspacing="0" class="container2">
                        

                      </table>
                      <!--end content nav -->

                    </td>
                  </tr>

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="20">
                    </td>
                  </tr>
                  <!-- end space -->

                </table>
                <!-- end footer -->
              </td>
            </tr>
          </table>
          <!-- end footer container -->

        </td>
      </tr>
      

      <!-- END CONTAINER  -->
      
    </table>
  </td>
</tr>
<!--END FOOTER ​LAYOUT-->





<!--  START FOOTER COPY RIGHT -->
<tr>
  <td align="center" valign="top" style="background-color:#4ab59c;">
    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#4ab59c;">
      <tr>
        <td valign="top">
          <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#4ab59c;">

            <!--start space height -->                      
            <tr>
              <td height="10"></td>
            </tr>
            <!--end space height --> 

            <tr>
              <!-- start COPY RIGHT content -->  
              <td valign="top" style="font-size: 13px; line-height: 22px; font-family:Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:300; text-align:center; ">
                Turing Technology, Inc. - all rights reserved 2014 &copy;
              </td>
              <!-- end COPY RIGHT content --> 
            </tr>

            <!--start space height -->                      
            <tr>
              <td height="10"></td>
            </tr>
            <!--end space height --> 


          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--  END FOOTER COPY RIGHT -->

</table>

</div>