<div class="tm_info-modal modal fade faq-modal" tabindex="-1" role="dialog">

  <button type="button" class="tm_modal-button tm_modal-button-dark" data-dismiss="modal">
    <svg class="icon"><use xlink:href="/images/symbols.svg#modal-close"></use></svg>
  </button>

  <div class="modal-dialog faq-modal-dialog">
    <div class="tm_info-modal-content">
      <aside>
        <h1>FAQ</h1>
      </aside>
      <article>
        <!-- TODO: extend with additional questions as they come up. -->
        <div class="tm_info-modal-qa">
          <p class="big">How do I change the preview panel settings?</p>
          <p class="faded">From the toolbar, select the Settings option on the More dropdown. On the page that is then navigated to, select the option you desire from the list of Preview Panel options (vertical, horizontal, off).</p>
        </div>
      </article>
    </div>
  </div>

</div>