<div class="tm_info-modal modal fade privacy-modal" tabindex="-1" role="dialog">

  <button type="button" class="tm_modal-button tm_modal-button-dark" data-dismiss="modal">
    <svg class="icon"><use xlink:href="/images/symbols.svg#modal-close"></use></svg>
  </button>

  <div class="modal-dialog privacy-modal-dialog">
    <div class="tm_info-modal-content">
      <aside>
        <h1>Privacy Policy</h1>
      </aside>
      <article>
        <p class="big">EFFECTIVE:&nbsp; MARCH 1, 2015</p>

        <p class="big"><strong>COMING SOON.</strong></p>
      </article>
    </div>
  </div>

</div>