<% provide(:title, 'Signup') %>

<div id="content">
  <div class="container">
    <div style="height: 50px;"></div>
    <div class="row">
      <div class="col-md-offset-4 col-sm-12 col-md-4">
        <%= render('signup_form') %>
      </div>
    </div>
  </div>
</div>