<div class="tm_container">
  <div class="tm_toptabs">
    <a href="#email_folder/INBOX" class="active">Inbox</a>
    <!-- <a href="#contact_inbox">Contact-Inbox</a> -->
    <a href="#inbox_cleaner">Inbox Cleaner</a>
    <a href="#schedule_emails">Scheduling</a>
    <a href="#email_trackers">Tracking</a>
    <!-- <a href="#email_reminders">Reminders</a> -->
    <a href="#email_template_categories">Templates</a>
    <a href="#email_signatures">Signatures</a>
    <a href="#list_subscriptions">Lists</a>
    <!-- <a href="#attachments">Attachments</a> -->
    <a href="#analytics">Analytics</a>
    <a data-method="delete" href="/switch_account">Accounts</a>
    <a href="#apps">Apps</a>
    <a href="#settings">Settings</a>
    <button type="button" class="tm_toptabs-options">
      <a href="#settings"><svg class="icon"><use xlink:href="/images/symbols.svg#plus"></use></svg></a>
    </button>
  </div>
  <div class="tm_sidebar"></div>
  <div class="tm_primary"></div>
</div>

<div class="compose-view"></div>
<div class="template-compose-view"></div>
<div class="create-folder-view"></div>
<div class="tour-view"></div>
<div class="about-view"></div>
<div class="faq-view"></div>
<div class="privacy-view"></div>
<div class="terms-view"></div>