// ---------------------------
// GLOBAL HELPERS
// ---------------------------


// Alignment

.aleft {
  text-align: left !important;
}
.aright {
  text-align: right !important;
}
.acenter {
  text-align: center !important;
}
.vtop {
  vertical-align: top !important;
}
.vbottom {
  vertical-align: bottom !important;
}
.vmiddle {
  vertical-align: middle !important;
}


// Text

.bold {
  font-weight: bold !important;
}
.italic {
  font-style: italic !important;
}
.underline {
  text-decoration: underline !important;
}


// Floating blocks

.fclear {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
.fleft {
  float: left !important;
}
.fright {
  float: right !important;
}
.ohidden {
  overflow: hidden;
}


// Miscellaneous

.nobg {
  background: none !important;
}
.noborder {
  border: none !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.nowrap {
  white-space: nowrap !important;
}


// Colors

.fggray {
  color: #999 !important;
}

.fgred {
  color: #F44 !important;
}

.fgblue {
  color: #08E !important;
}