<div class="tm_box-heading">
  <svg class="icon"><use xlink:href="/images/symbols.svg#section-rules"></use></svg>
  <div class="expander">
    <h2>Attachments Report</h2>
    <p>The chart below represents the number of attachments and their average file size.</p>
  </div>
</div>

<div class="tm_charts">
  <div class="attachments-chart"></div>
</div>