<div class="tm_box-heading">
  <svg class="icon"><use xlink:href="/images/symbols.svg#section-rules"></use></svg>
  <div class="expander">
    <h2>Top Contacts Report</h2>
    <p>Charts below represent the top contacts for incoming and outgoing emails.</p>
  </div>
</div>

<div class="tm_charts">
  <div class="incoming-emails-container"></div>
  <div class="outgoing-emails-container"></div>
</div>