<div class="tm_box-heading">
  <svg class="icon"><use xlink:href="/images/symbols.svg#section-rules"></use></svg>
  <div class="expander">
    <h2>Geography Report</h2>
    <p>The chart below represents the geographic distribution of emails you have sent and received.</p>
  </div>
</div>

<div class="tm_charts">
  <div class="geo-chart"></div>
</div>