<div class="tm_compose-email">
  <button type="button" class="tm_compose-button">
    <svg class="icon"><use xlink:href="/images/symbols.svg#sidebar-compose"></use></svg>
    <span>Compose</span>
  </button>
  <div class="tm_compose-dropdown">
    <button type="button" data-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li><a class="quick-compose-item">How are things?</a></li>
      <li><a class="quick-compose-item">Yo</a></li>
    </ul>
  </div>
</div>